@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap');

*{
    font-family: "League Spartan"; /* Font imoportada pelo link acima*/
    /*Garante que ocupa o total do ecrã*/
    padding: 0; margin: 0;
}

/*Cabeçalho*/

.menu{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    border: solid black 1px;
}

.menu a:last-child{
    margin-left: auto;
}

.menu a{
    padding: 20px;
    text-decoration: none;
    color: darkblue;


}

.menu a:hover{
    background-color: lightgray;
    font-weight: bold;
}

.menu-imagem{
    background-image: url("https://media.giphy.com/media/3oz8xLYF0gagozmsgM/giphy.gif");
    background-size: cover;
    /*Letra no centro*/
    display: flex;
    justify-content: center;
    height: 100vh;



}



/*Capitais*/

.capitais-europeias{
    padding: 50px; /*tamanho da caixa*/
    border: solid black 1px;
    height: 90vh;
}

.capitais-europeias h1{
     /*Letra no centro*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: red;
}

.capitais{
    /*Classe capitais */
    display: flex; /**/
    flex-flow: row wrap; /* caixas dispostas em linha fazendo e fazendo quebra de linha se necessário*/
    gap: 50px 100px;
    padding: 50px; /*tamanho da caixa*/


}

.capitais > div {
    /*Este seletor identifica todos os elementos "filhos" div da classe capitais */
    display: flex; /**/
    border-radius: 20px; /*arredonda os cantos*/
    overflow: hidden; /*põe as imagens arredondadas de acordo com os cantos*/
    box-shadow: 5px 5px 15px grey; /*cria sombra a volta das imagens*/
    margin: 20px; /* garante um espaçamento mínimo entre elementos*/

}

.capitais img{
    height: 100%;
}

.capitais div div:last-child{
    /* este seletor identifica os divs com o parágrafo com nome da capital
    (último div filho de cada div dentro do elemento com classe capitais)*/
    width: 150px;
    background-color: white;
    padding: 20px; /*Aumenta a area de texto*/

    /*para centrar nome da capital na caixa (horizontal e vertical)*/
    display: flex;
    justify-content: center;
    align-content: center;

}



/*Dicas para viajantes*/


.dicas{
    background-color: orange; /**/
    padding: 50px; /*tamanho da caixa*/
    border: solid black 1px;
    height: 90vh;
}

.dicas h1{
    /*Letra no centro*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: red;
}

.dicas-viajantes{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.dicas-viajantes > div{
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 20px; /*arredonda os cantos*/
    overflow: hidden; /*põe as imagens arredondadas de acordo com os cantos*/
    box-shadow: 5px 5px 15px grey; /*cria sombra a volta das imagens*/
    padding: 10px 20px;
    margin: 10px;
}

.dicas-viajantes div div:last-child{
    font: 25px "Al Bayan";
}

.dicas-viajantes h2{
    font: 25px bold;
    text-align: center;
}

/*Destinos de Sonho*/


.destinos-sonhos{
     /**/
    padding: 50px; /*tamanho da caixa*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: solid black 1px;
    height: 80vh;
}

.destinos-sonhos h1{
    /*Letra no centro*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: red;
}

.destinos{
    display: grid;
    flex-flow: wrap;
    padding: 50px;


    grid-template-areas:
            'lisboa alentejo evora barreiro'
            'porto porto algarve  barreiro';

    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 10px;
}
.destinos div{
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;

}

.destinos > div{
    width: 100%;
    height: 100%;
    min-height: 250px;
    border: 2px  solid black;
    margin: 2px;

    background-size: cover;

     justify-content: end;
    flex-direction: column;

    display: flex;
}

.destinos > div>div:first-child{
    justify-content: initial;
}



.porto{
    background-image: url("images/porto.png");
    grid-area: porto;
}

.lisboa{
    background-image: url("images/lisboa.png");
    grid-area: lisboa;
}

.evora{
    background-image: url("images/evora.png");
    grid-area: evora;
}

.alentejo{
    background-image: url("images/alentejo.png");
    grid-area: alentejo;
}

.algarve{
    background-image: url("images/algarve.png");
    grid-area: algarve;
}

.barreiro{
    background-image: url("images/barreiro.png");
    grid-area: barreiro;
}

/* Rodapé (Footer)*/

footer{
    background-color: black;
    font-size: 20px;
    color: white;
    height: 10vh;
}

main{
    background-image: url("https://www.pewresearch.org/global/wp-content/uploads/sites/2/2019/10/PG_19.10.15_Pulse-of-Europe_Featured-Image.jpg?w=1200&h=628&crop=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Para o PC*/

@media (min-width: 901px) {
  .destinos {
    grid-template-areas:
      "alentejo evora lisboa barreiro"
      "porto porto algarve barreiro";

    grid-template-columns: 1fr 1fr 1fr 2fr;
  }

  .destinos > div {
    min-height: 300px;
  }
}

/* Para o telemovel*/

@media (max-width: 900px) {
  .destinos {
    grid-template-areas:
      "alentejo evora"
      "lisboa algarve"
      "porto barreiro";

    grid-template-columns: 1fr 1fr;
  }

  .destinos > div {
    min-height: 100px;
  }
}
